<section fxFlex
         fxLayout="column"
         fxLayoutAlign="space-between stretch"
         class="p4">
  <ng-template #loading>
    <mat-progress-bar class="m4"
                      mode="indeterminate"
                      color="accent"></mat-progress-bar>
  </ng-template>
  <section fxLayout="row"
           fxLayoutAlign="space-between center">
    <ng-container *ngIf="category else loading">
      <p class="m4 mat-body-strong">{{category?.value}} </p>
    </ng-container>
    <p class="m4 mat-body-strong">{{armor?.name}}</p>
  </section>
  <section fxLayout="row"
           fxLayoutAlign="space-between center">
    <p class="m4">Weight: {{armor?.weight}}</p>
    <p class="m4">Defense: {{armor?.defense}}</p>
  </section>
</section>
