<section class="p8">
  <button mat-stroked-button
          (click)="addArmor()">
    Add Armor
  </button>
</section>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="armorSrc.queryResult$ | async as query else loading">
  <async-source-layout searchLabel="Search Armor"
                       [src]="armorSrc">
    <data-card *ngFor="let armor of query.data"
               [data]="armor"
               (edit)="editArmor($event)"
               (remove)="removeArmor($event)">
      <armor-display fxFlex
                     [armor]="armor"></armor-display>
    </data-card>
  </async-source-layout>
</ng-container>
