<section class="p8">
  <button mat-stroked-button
          (click)="addWeapon()">
    Add Weapon
  </button>
</section>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="weaponSrc.queryResult$ | async as query else loading">
  <async-source-layout searchLabel="Search Weapons"
                       [src]="weaponSrc">
    <data-card *ngFor="let weapon of query.data"
               [data]="weapon"
               (edit)="editWeapon($event)"
               (remove)="removeWeapon($event)">
      <weapon-display fxFlex
                      [weapon]="weapon"></weapon-display>
    </data-card>
  </async-source-layout>
</ng-container>
